Repository artischockee/best-runner: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"*.{js,ts}":
  - "eslint --fix"
  - "prettier --write"
"*.{css,scss,md,json}":
  - "prettier --write"

Set 'resolveJsonModule' to true
  tsconfig.json
Due: prettier --write

Add several dependencies; add Babel plugin to Webpack config
  package.json
  webpack.common.js
  yarn.lock
Due: eslint --fix, prettier --write

Add 'height: 100%' to html and body
  src/index.scss
Due: prettier --write

Implement Storage service
  src/services/storage/classes.ts
  src/services/storage/localStorage.ts
Due: eslint --fix, prettier --write

Add @typescript-eslint/eslint-plugin
  .eslintrc.yml
  package.json
  yarn.lock
Due: prettier --write

Implement Router service
  src/constants/routerPaths.ts
  src/services/router/config.ts
  src/services/router/history.ts
  src/services/router/index.ts
  src/services/router/types.d.ts
  src/types/utilTypes.d.ts
  src/utils/commonUtils.ts
  src/utils/routerUtils.ts
Due: eslint --fix, prettier --write

Add CssUtils and Utils
  src/utils/cssUtils.ts
  src/utils/utils.ts
Due: eslint --fix, prettier --write

Implement Locale service
  src/constants/localeConstants.ts
  src/constants/localeResources/en.json
  src/contexts/app/index.ts
  src/contexts/app/types.d.ts
  src/services/locale.ts
Due: eslint --fix, prettier --write

Add SCSS files
  src/scss/functions.scss
  src/scss/keyframes.scss
  src/scss/mixins.scss
  src/scss/variables.scss
Due: prettier --write

Implement Header component (template)
  src/components/header/Header.scss
  src/components/header/Header.tsx
  src/components/header/index.ts
Due: eslint --fix, prettier --write

Implement PageWrapper component (template)
  src/components/pageWrapper/PageWrapper.scss
  src/components/pageWrapper/PageWrapper.tsx
  src/components/pageWrapper/index.ts
Due: eslint --fix, prettier --write

Implement LayoutBuilder component (template)
  src/components/layoutBuilder/LayoutBuilder.tsx
  src/components/layoutBuilder/index.ts
Due: eslint --fix, prettier --write

Implement App component
  src/components/app/App.tsx
  src/components/app/AppHooks.ts
  src/components/app/index.ts
Due: eslint --fix, prettier --write

Extend Root component (add Router and App)
  src/components/Root.tsx
Due: none

Implement Page404
  src/pages/page404/Page404.scss
  src/pages/page404/Page404.tsx
  src/pages/page404/index.ts
Due: eslint --fix, prettier --write

Implement IndexPage
  src/pages/indexPage/IndexPage.scss
  src/pages/indexPage/IndexPage.tsx
  src/pages/indexPage/index.ts
Due: eslint --fix, prettier --write

Run Prettier
  src/index.tsx
Due: none

Add eslint-plugin-react dependency; configure ESLint
  .eslintrc.yml
  package.json
  yarn.lock
Due: prettier --write

Allow webpack-dev-server to work with react-router's history API
  webpack.dev.js
Due: eslint --fix, prettier --write

Add ESLint rule to ignore 'require()' in Webpack config
  .eslintrc.yml
Due: none

Return component from LayoutBuilder if 'usePageWrapper' is falsy
  src/components/layoutBuilder/LayoutBuilder.tsx
Due: none

Change router config for 404 page
  src/services/router/config.ts
Due: eslint --fix, prettier --write

Add 'moduleResolution' ('node')
  tsconfig.json
Due: prettier --write

Add stylelint
  .stylelintrc.json
  package.json
Due: prettier --write

Add @svgr/webpack package; configure webpack
  package.json
  webpack.common.js
Due: eslint --fix, prettier --write

Add OFL.txt for Rubik font
  src/static/fonts/Rubik/OFL.txt
Due: none

Add footwear.svg
  src/static/images/footwear.svg
Due: none

Add bootstrap and reactstrap packages
  package.json
Due: prettier --write

Update yarn.lock
  yarn.lock
Due: none

Add react-app-env.d.ts for correct svg import (webpack)
  src/react-app-env.d.ts
Due: eslint --fix, prettier --write

Add Emotion library (with 'addons'); configure babel-loader in webpack
  package.json
  webpack.common.js
  yarn.lock
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Add emotion as a plugin to ESLint config
  .eslintrc.yml
Due: none

Update PageWrapper using Emotion styles; remove SCSS
  src/components/pageWrapper/PageWrapper.scss
  src/components/pageWrapper/PageWrapper.tsx
Due: prettier --write

Add Bootstrap import in index.scss
  src/index.scss
Due: prettier --write

Add 2 new SCSS variables
  src/scss/variables.scss
Due: prettier --write

Extend IndexPage a bit; replace SCSS with Emotion
  src/pages/indexPage/IndexPage.scss
  src/pages/indexPage/IndexPage.tsx
Due: prettier --write

Update Header using Emotion styles; remove SCSS
  src/components/header/Header.scss
  src/components/header/Header.tsx
Due: prettier --write

Add StyleConstants file
  src/constants/styleConstants.ts
Due: eslint --fix, prettier --write

Remove variables.scss due to non-use; remove useless SCSS functions and mixins
  src/scss/functions.scss
  src/scss/mixins.scss
  src/scss/variables.scss
Due: prettier --write
