Repository artischockee/best-runner: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Implement rem() method (for css-in-js)
  src/utils/cssUtils.ts
Due: eslint --fix, prettier --write

Add express, cors, nodemon packages
  package.json
Due: prettier --write

Add initial server files with basic configuration
  server/app.js
  server/routes/records.js
Due: eslint --fix, prettier --write

Add axios, redux-toolkit, react-redux packages; add 'run server' script
  package.json
Due: prettier --write

Update yarn.lock
  yarn.lock
Due: none

Extract training types to 'dictionaries' route; use dictionariesRouter
  server/app.js
  server/routes/dictionaries.js
  server/routes/records.js
Due: eslint --fix, prettier --write

Add babel's runtime plugins; update webpack config
  package.json
  webpack.common.js
  yarn.lock
Due: eslint --fix, prettier --write

Implement data types declaration
  src/types/data.d.ts
Due: eslint --fix, prettier --write

Implement redux store components
  src/store/actions/recordsActions.ts
  src/store/reducers/recordsReducer.ts
  src/store/reducers/rootReducer.ts
  src/store/selectors/recordsSelectors.ts
  src/store/types.d.ts
Due: eslint --fix, prettier --write

Implement AddRecordForm
  src/components/forms/addRecordForm/AddRecordForm.tsx
  src/components/forms/addRecordForm/index.ts
Due: eslint --fix, prettier --write

Add new variables in StyleConstants
  src/constants/styleConstants.ts
Due: eslint --fix, prettier --write

Create API config (axios); add Api class
  src/services/api/api.ts
  src/services/api/apiConfig.ts
Due: eslint --fix, prettier --write

Configure redux store; inject it in Root component
  src/components/Root.tsx
  src/index.tsx
Due: none

Update Header layout and styles
  src/components/header/Header.tsx
Due: none

Update css() of PageWrapper
  src/components/pageWrapper/PageWrapper.tsx
Due: none

Update IndexPage (add fetching records functionality)
  src/pages/indexPage/IndexPage.tsx
Due: none

Add json processing instruction to the server
  server/app.js
Due: eslint --fix, prettier --write

Add objectUtils.js and recordsUtils.js
  server/utils/objectUtils.js
  server/utils/recordsUtils.js
Due: eslint --fix, prettier --write

Update dictionaries.js and records.js
  server/routes/dictionaries.js
  server/routes/records.js
Due: eslint --fix, prettier --write

Add react-hook-form dependency
  package.json
  yarn.lock
Due: prettier --write

Add dateUtils.ts and dictionariesUtils.ts
  src/utils/dateUtils.ts
  src/utils/dictionariesUtils.ts
Due: eslint --fix, prettier --write

Add TrainingType interface; RecordPost type
  src/types/data.d.ts
Due: eslint --fix, prettier --write

Add new l10n keys for dictionaries
  src/constants/localeResources/en.json
Due: prettier --write

Add postRecord(), getTrainingTypes() APIs
  src/services/api/api.ts
Due: eslint --fix, prettier --write

Fix ThunkDispatch type (now Dispatch); remove ThunkGetState type
  src/index.tsx
  src/store/types.d.ts
Due: eslint --fix, prettier --write

Implement TrainingTypes redux part
  src/store/actions/trainingTypesActions.ts
  src/store/reducers/rootReducer.ts
  src/store/reducers/trainingTypesReducer.ts
  src/store/selectors/trainingTypesSelectors.ts
Due: eslint --fix, prettier --write

Add createRecord() to recordsActions.ts
  src/store/actions/recordsActions.ts
Due: eslint --fix, prettier --write

Extend AddRecordForm; use react-hook-form for it; add validation
  src/components/forms/addRecordForm/AddRecordForm.tsx
Due: none

Add global styles (emotion) to App; also add initial dictionaries fetching
  src/components/app/App.tsx
Due: none

Implement record deletion functionality (front-end)
  src/services/api/api.ts
  src/store/actions/recordsActions.ts
Due: eslint --fix, prettier --write

Implement record deletion functionality (back-end)
  server/routes/records.js
Due: eslint --fix, prettier --write

Implement RecordRow component
  src/components/recordRow/RecordRow.tsx
  src/components/recordRow/index.ts
Due: eslint --fix, prettier --write

Use RecordRow in IndexPage
  src/pages/indexPage/IndexPage.tsx
Due: none

Add 'plus' icon (SVG)
  src/static/images/plus.svg
Due: none

Remove output.path from common webpack config
  webpack.common.js
Due: eslint --fix, prettier --write

Configure output.path for dev and prod webpack configs; configure devServer
  webpack.dev.js
  webpack.prod.js
Due: eslint --fix, prettier --write

Add new global styles for Bootstrap's 'link' buttons
  src/components/app/App.tsx
Due: none

Add new color constants
  src/constants/styleConstants.ts
Due: eslint --fix, prettier --write

Add SVGPlus icon for 'Add new record' button
  src/pages/indexPage/IndexPage.tsx
Due: none

Add 'getISODate' method
  src/utils/dateUtils.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{css,scss,md,json})
