Repository artischockee/best-runner: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"*.{js,ts}":
  - "eslint --fix"
  - "prettier --write"
"*.{css,scss,md,json}":
  - "prettier --write"

Fix 'getTrainingTypeL10nKey' method's return value
  src/utils/dictionariesUtils.ts
Due: eslint --fix, prettier --write

Add GenericReducerState interface to store types; use it in trainingTypesReducer
  src/store/reducers/trainingTypesReducer.ts
  src/store/types.d.ts
Due: eslint --fix, prettier --write

Implement RecordRowHooks
  src/components/recordRow/RecordRowHooks.tsx
Due: none

Extend RecordRow to b able to edit its data
  src/components/recordRow/RecordRow.tsx
Due: none

Use localiser for training type values in AddRecordForm
  src/components/forms/addRecordForm/AddRecordForm.tsx
Due: none

Fix TypeScript compiler files emitting on rebuilds
  tsconfig.json
Due: prettier --write

Add meaningful comments for records
  server/routes/records.js
Due: eslint --fix, prettier --write

Implement PUT method for records entity
  server/routes/records.js
Due: eslint --fix, prettier --write

Add 'putRecord' method in Api
  src/services/api/api.ts
Due: eslint --fix, prettier --write

Implement 'editRecord' method in RecordsActions
  src/store/actions/recordsActions.ts
Due: eslint --fix, prettier --write

Extend RecordRow component; add 'invalid' prop to fields; add 'onChange' handler
  src/components/recordRow/RecordRow.tsx
  src/components/recordRow/RecordRowHooks.tsx
Due: none

Handle record change in IndexPage
  src/pages/indexPage/IndexPage.tsx
Due: none

Implement very naive sorting for records GET (using query params)
  server/routes/records.js
Due: eslint --fix, prettier --write

Rename 'Record' type to 'TrainingRecord'; add 'TrainingRecordPost' type
  src/services/api/api.ts
  src/store/reducers/recordsReducer.ts
  src/types/data.d.ts
Due: eslint --fix, prettier --write

Add 'params' to 'getRecords' method
  src/services/api/api.ts
Due: eslint --fix, prettier --write

Add 'params' to fetchRecords(); rename 'Record' type to 'TrainingRecord'
  src/store/actions/recordsActions.ts
Due: eslint --fix, prettier --write

Add sorting functionality (date, mileage)
  src/pages/indexPage/IndexPage.tsx
Due: none

Extract table-related logic from IndexPage (to RecordTable)
  src/pages/indexPage/IndexPage.tsx
Due: none

Implement RecordTable component (with aux. files)
  src/components/recordTable/RecordTable.tsx
  src/components/recordTable/RecordTableConstants.ts
  src/components/recordTable/RecordTableUtils.ts
  src/components/recordTable/index.ts
  src/components/recordTable/types.d.ts
Due: eslint --fix, prettier --write

Replace h1 to top
  src/pages/indexPage/IndexPage.tsx
Due: none

Add triangle icon (SVG)
  src/static/images/triangle.svg
Due: none

Fix type of 'type' field in TrainingRecord interface
  src/components/recordRow/RecordRow.tsx
  src/components/recordRow/RecordRowHooks.tsx
  src/types/data.d.ts
Due: eslint --fix, prettier --write

Replace text with triangle icon for sortable columns (head cells)
  src/components/recordTable/RecordTable.tsx
Due: none

Add filter functionality for 'type' field
  server/routes/records.js
Due: eslint --fix, prettier --write

Implement RecordTableFilterGroup
  src/components/recordTableFilterGroup/RecordTableFilterGroup.tsx
  src/components/recordTableFilterGroup/index.ts
Due: eslint --fix, prettier --write

Add filter functionality for 'type' field (front-end)
  src/components/recordTable/RecordTable.tsx
  src/components/recordTable/RecordTableUtils.ts
  src/components/recordTable/types.d.ts
Due: eslint --fix, prettier --write

Remove "version" from 'useConsoleReport'
  src/components/app/AppHooks.ts
Due: eslint --fix, prettier --write

Add @font-face for Rubik Bold (700)
  src/scss/fonts.scss
Due: prettier --write

Fix scripts; add 'main' entry
  package.json
Due: prettier --write

Add missed fonts
  src/static/fonts/Rubik/Rubik-Bold.woff
  src/static/fonts/Rubik/Rubik-Bold.woff2
  src/static/fonts/Rubik/Rubik-BoldItalic.woff
  src/static/fonts/Rubik/Rubik-BoldItalic.woff2
Due: none

Add static files serving
  server/app.js
Due: eslint --fix, prettier --write

Fix prod stand URL
  src/services/api/apiConfig.ts
Due: eslint --fix, prettier --write

Add copy-webpack-plugin; configure structure of the build directory
  package.json
  webpack.common.js
  webpack.prod.js
  yarn.lock
Due: eslint --fix, prettier --write

Configure paths to app.js
  package.json
Due: prettier --write

Replace '.json()' with '.send()'
  server/routes/dictionaries.js
Due: eslint --fix, prettier --write

Implement apiRouter; configure routes handling
  server/app.js
Due: eslint --fix, prettier --write

Implement 2 methods for CommonUtils
  src/utils/commonUtils.ts
Due: eslint --fix, prettier --write

Fix TableFilterableCols type
  src/components/recordTable/types.d.ts
Due: eslint --fix, prettier --write

Use CommonUtils for object; fix wrong filter value on "clear" state
  src/components/recordTable/RecordTable.tsx
Due: none

Add favicons support (as well as the favicons themselves)
  public/icons/apple-touch-icon-120x.png
  public/icons/apple-touch-icon-152x.png
  public/icons/apple-touch-icon-167x.png
  public/icons/apple-touch-icon-180x.png
  public/icons/favicon-16x.png
  public/icons/favicon-32x.png
  public/icons/favicon.ico
  public/index.html
  webpack.prod.js
Due: eslint --fix, prettier --write
