Repository artischockee/best-runner: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

"*.{js,ts}":
  - "eslint --fix"
  - "prettier --write"
"*.{css,scss,md,json}":
  - "prettier --write"

Remove TODOs (handled in README.md)
  src/static/images/footwear.svg
  src/static/images/plus.svg
Due: none

Remove unused method
  src/types/utilTypes.d.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Add Docker with the simplest configuration; update README.md
  Dockerfile
  README.md
  docker-compose.yml
Due: prettier --write

Add information about the app's working URL (after docker-compose up)
  README.md
Due: prettier --write
